@import url("https://fonts.googleapis.com/css?family=Clicker+Script|Playball|Stalemate&display=swap&subset=latin-ext");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.first-page {
  height: 100vh;
  width: 100vw;
  padding-top: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(/img/first_page/tomato-2780424_1920_2_Easy-Resize.com.jpg);
  background-size: cover;
  background-position: center;
  font-family: "playball", sans-serif;
}

.first-page .app-title {
  margin: 10vw;
  font-size: 21vw;
  text-align: center;
  color: #fffdfe;
}

.first-page a {
  margin: 0 10vw;
  padding: 3vw;
  background-color: #f31c42;
  font-size: 8vw;
  text-decoration: none;
  text-align: center;
  color: #fff;
  border-radius: 25%;
}

@media (min-width: 400px) {
  .first-page {
    padding-top: 4vh;
    background-size: 100% 100%;
  }
  .first-page .app-title {
    font-size: 20vw;
  }
  .first-page a {
    font-size: 6vw;
    margin: 0vh 7vw;
  }
}

@media (min-width: 515px) {
  .first-page {
    padding-top: 0;
  }
  .first-page .app-title {
    font-size: 19vw;
  }
  .first-page a {
    font-size: 5vw;
    margin: 0vh 6vw;
    padding: 2.5vw;
  }
}

@media (min-width: 600px) {
  .first-page .app-title {
    font-size: 18vw;
    margin: 7vh 10vw;
  }
  .first-page a {
    font-size: 4.5vw;
    margin: 0vh 6vw;
    padding: 2.3vw;
  }
}

@media (min-width: 768px) {
  .first-page {
    background-size: cover;
  }
  .first-page a {
    font-size: 4vw;
    margin: 0vh 6vw;
    padding: 1.7vw;
  }
}

@media (min-width: 992px) {
  .first-page .app-title {
    font-size: 16vw;
    margin: 6vh 10vw;
  }
  .first-page a {
    font-size: 3.3vw;
    padding: 1.3vw;
    cursor: pointer;
  }
}

@media (min-width: 1200px) {
  .first-page {
    background-size: contain;
  }
  .first-page .app-title {
    font-size: 12.5vw;
    margin: 1vh 10vw 3vh;
  }
  .first-page a {
    font-size: 2.2vw;
    margin: 0vh 6vw;
    padding: 1vw;
  }
}

.main-page {
  height: 100vh;
  width: 100vw;
}

.main-header {
  width: 100vw;
  height: 12.5vh;
  border: 2px solid black;
  background-size: cover;
  background-image: url(/img/first_page/tomato-2780424_1920_2_Easy-Resize.com.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header h2 {
  font-size: 16vw;
  color: #fffdfe;
  font-family: "playball", sans-serif;
}

div[class$="category"] {
  width: 100vw;
  height: 12.5vh;
  border: 2px solid black;
  background-size: cover;
}

div[class$="category"] a {
  width: 100vw;
  height: 12.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  position: relative;
}

div[class$="category"] a h3 {
  font-size: 8vw;
  color: rgba(0, 0, 0, 0.897);
  text-shadow: rgba(250, 249, 245, 0.976) 1px 1.3px 2px;
  position: absolute;
}

.snack-category, .snack-recipes_title {
  background-image: url(/img/snack/tasting-cheese-dish-on-a-wooden-plate-picjumbo-com_Easy-Resize.com.jpg);
  background-position: 0% 30%;
}

.snack-category h3, .snack-recipes_title h3 {
  left: 55%;
}

.salad-category, .salad-recipes_title {
  background-image: url(/img/vege/louis-hansel-shotsoflouis-phEaeqe555M-unsplash_Easy-Resize.com.jpg);
  background-position: 50% 30%;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.salad-category h3, .salad-recipes_title h3 {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  right: 10%;
}

.meat-category, .meat-recipes_title {
  background-image: url(/img/meat_dish/louis-hansel-shotsoflouis-K47107aP8UU-unsplash_Easy-Resize.com.jpg);
  background-position: 40% 100%;
}

.meat-category h3, .meat-recipes_title h3 {
  left: 47%;
}

.vege-category, .vege-recipes_title {
  background-image: url(/img/vege/food-2068217_1920_Easy-Resize.com.jpg);
}

.vege-category h3, .vege-recipes_title h3 {
  left: 10%;
}

.soup-category, .soup-recipes_title {
  background-image: url(/img/soup/cayla1-w6ftFbPCs9I-unsplash_Easy-Resize.com.jpg);
  background-position: 0% 4%;
}

.soup-category h3, .soup-recipes_title h3 {
  left: 70%;
}

.sweet-category, .sweet-recipes_title {
  background-image: url(/img/on_sweetly/three-yummy-donuts-with-room-for-text-picjumbo-com_Easy-Resize.com.jpg);
  background-position: 0% 45%;
}

.sweet-category h3, .sweet-recipes_title h3 {
  left: 10%;
}

.smoothie-category, .smoothie-recipes_title {
  background-image: url(/img/smoothie/fresh-strawberries-bananas-smoothie-picjumbo-com_Easy-Resize.com.jpg);
  background-position: 0% 15%;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.smoothie-category h3, .smoothie-recipes_title h3 {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  right: 62%;
}

.new-recipe {
  min-height: 87.5vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.new-recipe-title,
.new-recipe-ingredients,
.new-recipe-preparation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1vh 4vw;
}

.new-recipe-title label,
.new-recipe-ingredients label,
.new-recipe-preparation label {
  margin-top: 1vh;
  font-size: 7vw;
  font-family: "playball", sans-serif;
  background-color: rgba(250, 249, 245, 0.5);
}

.new-recipe-title input {
  height: 7vh;
  font-size: 9vw;
  font-family: "playball", sans-serif;
  text-align: center;
}

.new-recipe-ingredients textarea,
.new-recipe-preparation textarea {
  font-size: 4.8vw;
  font-family: "hind", sans-serif;
  font-weight: 500;
  line-height: 1.3;
}

.save-recipe-btn {
  width: 100vw;
  height: 9vh;
  margin-top: auto;
}

.save-recipe-btn button {
  width: 100%;
  height: 100%;
  color: rgba(250, 249, 245, 0.976);
  text-shadow: rgba(0, 0, 0, 0.705) 1.2px 1.3px 2px;
  font-size: 7vw;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.356);
  -webkit-box-shadow: rgba(0, 0, 0, 0.705) 1px -1px 4px;
          box-shadow: rgba(0, 0, 0, 0.705) 1px -1px 4px;
  border: none;
}

.back-to-recipes-btn {
  width: 100vw;
  height: 6vh;
}

.back-to-recipes-btn a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
  font-size: 6.5vw;
  font-weight: bold;
  background-color: rgba(250, 249, 245, 0.5);
  -webkit-box-shadow: rgba(250, 249, 245, 0.5) 1px -1px 2px;
          box-shadow: rgba(250, 249, 245, 0.5) 1px -1px 2px;
}

.category-name, .snack-recipes_title, .sweet-recipes_title, .salad-recipes_title, .meat-recipes_title, .vege-recipes_title, .soup-recipes_title, .smoothie-recipes_title {
  width: 100vw;
  height: 12.5vh;
  border: 2px solid rgba(0, 0, 0, 0.756);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.category-name h3, .snack-recipes_title h3, .sweet-recipes_title h3, .salad-recipes_title h3, .meat-recipes_title h3, .vege-recipes_title h3, .soup-recipes_title h3, .smoothie-recipes_title h3 {
  font-size: 8.5vw;
  color: rgba(0, 0, 0, 0.897);
  text-shadow: rgba(250, 249, 245, 0.976) 1.2px 1.3px 2px;
  position: absolute;
}

.snack-recipes_list, .sweet-recipes_list, .salad-recipes_list, .meat-recipes_list, .vege-recipes_list, .soup-recipes_list, .smoothie-recipes_list {
  width: 100vw;
  min-height: 87.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: cover;
}

.snack-recipes_list li, .sweet-recipes_list li, .salad-recipes_list li, .meat-recipes_list li, .vege-recipes_list li, .soup-recipes_list li, .smoothie-recipes_list li {
  width: 100vw;
  height: 9vh;
  border: 1px solid rgba(0, 0, 0, 0.356);
  background-color: rgba(250, 249, 245, 0.6);
}

.snack-recipes_list li a, .sweet-recipes_list li a, .salad-recipes_list li a, .meat-recipes_list li a, .vege-recipes_list li a, .soup-recipes_list li a, .smoothie-recipes_list li a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 7vw;
  font-family: "playball", sans-serif;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.snack-recipes_list {
  background-image: url(/img/snack/grapes-with-cheese-1741284_Easy-Resize.com.jpg);
}

.add-recipe-btn {
  width: 100vw;
  height: 9vh;
  margin-top: auto;
}

.add-recipe-btn a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: rgba(250, 249, 245, 0.976);
  text-shadow: rgba(0, 0, 0, 0.705) 1.2px 1.3px 2px;
  font-size: 7vw;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.356);
  -webkit-box-shadow: rgba(0, 0, 0, 0.705) 1px -1px 4px;
          box-shadow: rgba(0, 0, 0, 0.705) 1px -1px 4px;
}

.sweet-recipes_list {
  background-image: url(/img/on_sweetly/irina-K1LdlEj0QrY-unsplash_Easy-Resize.com.jpg);
}

.salad-recipes_list {
  background-image: url(/img/salad/ala-gvMwYzp-R2U-unsplash_Easy-Resize.com.jpg);
}

.meat-recipes_list {
  background-image: url(/img/meat_dish/louis-hansel-shotsoflouis-K47107aP8UU-unsplash_Easy-Resize.com_2.jpg);
}

.vege-recipes_list {
  background-image: url(/img/vege/nordwood-themes-Tmz8FThN_BE-unsplash_Easy-Resize.com.jpg);
}

.soup-recipes_list {
  background-image: url(/img/soup/soup-and-croutons-picjumbo-com_Easy-Resize.com.jpg);
}

.smoothie-recipes_list {
  background-image: url(/img/smoothie/orange-fruit-and-raspberries-775033_Easy-Resize.com_2.jpg);
}

.recipe {
  min-height: 87.5vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recipe-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3.2vh 4vw;
}

.recipe-title h4 {
  font-size: 9vw;
  font-family: "playball", sans-serif;
  text-align: center;
}

.recipe-ingredients,
.recipe-preparation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1vh 4vw;
}

.recipe-ingredients h5,
.recipe-preparation h5 {
  font-size: 7vw;
  font-family: "playball", sans-serif;
  padding-bottom: 1vh;
  background-color: rgba(250, 249, 245, 0.5);
}

.recipe-ingredients p,
.recipe-preparation p {
  font-size: 5.2vw;
  font-family: "hind", sans-serif;
  color: black;
  font-weight: 500;
  line-height: 1.3;
  background-color: rgba(250, 249, 245, 0.7);
}

.recipe-btn {
  width: 100vw;
  height: 9vh;
  margin-top: auto;
}

.recipe-btn a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: rgba(250, 249, 245, 0.976);
  text-shadow: rgba(0, 0, 0, 0.705) 1.2px 1.3px 2px;
  font-size: 6.5vw;
  font-weight: bold;
  background-color: rgba(97, 93, 93, 0.651);
  -webkit-box-shadow: rgba(65, 60, 60, 0.705) 1px -1px 4px;
          box-shadow: rgba(65, 60, 60, 0.705) 1px -1px 4px;
}

/*# sourceMappingURL=main.css.map */
