@import url("https://fonts.googleapis.com/css?family=Clicker+Script|Playball|Stalemate&display=swap&subset=latin-ext");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.first-page {
  height: 100vh;
  width: 100vw;
  padding-top: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(/img/first_page/tomato-2780424_1920_2_Easy-Resize.com.jpg);
  background-size: cover;
  background-position: center;
  font-family: "playball", sans-serif;
}

.first-page .app-title {
  margin: 10vw;
  font-size: 21vw;
  text-align: center;
  color: #fffdfe;
}

.first-page a {
  margin: 0 10vw;
  padding: 3vw;
  background-color: #f31c42;
  font-size: 8vw;
  text-decoration: none;
  text-align: center;
  color: #fff;
  border-radius: 25%;
}

.to-snack_recipes-btn {
  display: none;
}

@media (min-width: 400px) {
  .first-page {
    padding-top: 4vh;
    background-size: 100% 100%;
  }
  .first-page .app-title {
    font-size: 20vw;
  }
  .first-page a {
    font-size: 6vw;
    margin: 0vh 7vw;
  }
}

@media (min-width: 515px) {
  .first-page {
    padding-top: 0;
  }
  .first-page .app-title {
    font-size: 19vw;
  }
  .first-page a {
    font-size: 5vw;
    margin: 0vh 6vw;
    padding: 2.5vw;
  }
}

@media (min-width: 600px) {
  .first-page .app-title {
    font-size: 18vw;
    margin: 7vh 10vw;
  }
  .first-page a {
    font-size: 4.5vw;
    margin: 0vh 6vw;
    padding: 2.3vw;
  }
}

@media (min-width: 768px) {
  .first-page {
    background-size: cover;
  }
  .first-page a {
    font-size: 4vw;
    margin: 0vh 6vw;
    padding: 1.7vw;
  }
  .to-main_page-btn {
    display: none;
  }
  .to-snack_recipes-btn {
    display: block;
  }
}

@media (min-width: 992px) {
  .first-page .app-title {
    font-size: 16vw;
    margin: 6vh 10vw;
  }
  .first-page a {
    font-size: 3.3vw;
    padding: 1.3vw;
    cursor: pointer;
  }
}

@media (min-width: 1200px) {
  .first-page {
    background-size: contain;
  }
  .first-page .app-title {
    font-size: 12.5vw;
    margin: 1vh 10vw 3vh;
  }
  .first-page a {
    font-size: 2.2vw;
    margin: 0vh 6vw;
    padding: 1vw;
  }
}

.main-page {
  width: 100%;
  height: 100vh;
}

.main-header {
  width: 100%;
  height: 12.5vh;
  border: 1px solid rgba(0, 0, 0, 0.656);
  background-size: cover;
  background-image: url(/img/first_page/tomato-2780424_1920_2_Easy-Resize.com.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header h2 {
  font-size: 16vw;
  color: #fffdfe;
  font-family: "playball", sans-serif;
}

div[class$="category"] {
  width: 100%;
  height: 12.5vh;
  border: 1px solid rgba(0, 0, 0, 0.656);
  background-size: cover;
}

div[class$="category"] a {
  width: 100%;
  height: 12.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  position: relative;
}

div[class$="category"] a h3 {
  font-size: 7.8vw;
  color: rgba(0, 0, 0, 0.897);
  text-shadow: rgba(250, 249, 245, 0.976) 1px 1.3px 2px;
  position: absolute;
}

.snack-category, .snack-recipes_title {
  background-image: url(/img/snack/tasting-cheese-dish-on-a-wooden-plate-picjumbo-com_Easy-Resize.com.jpg);
  background-position: 0% 30%;
}

.snack-category h3, .snack-recipes_title h3 {
  left: 55%;
}

.salad-category, .salad-recipes_title {
  background-image: url(/img/salad/louis-hansel-shotsoflouis-MlPD-AzZYMg-unsplash_Easy-Resize.com.jpg);
  background-position: 50% 30%;
}

.salad-category h3, .salad-recipes_title h3 {
  left: 7%;
}

.meat-category, .meat-recipes_title {
  background-image: url(/img/meat_dish/louis-hansel-shotsoflouis-4FY6xU05qaQ-unsplash_Easy-Resize.com.jpg);
  background-position: 0% 72%;
}

.meat-category h3, .meat-recipes_title h3 {
  left: 50%;
}

.vege-category, .vege-recipes_title {
  background-image: url(/img/vege/food-2068217_1920_Easy-Resize.com.jpg);
}

.vege-category h3, .vege-recipes_title h3 {
  left: 7%;
}

.soup-category, .soup-recipes_title {
  background-image: url(/img/soup/cayla1-w6ftFbPCs9I-unsplash_Easy-Resize.com.jpg);
  background-position: 0% 4%;
}

.soup-category h3, .soup-recipes_title h3 {
  left: 70%;
}

.sweet-category, .sweet-recipes_title {
  background-image: url(/img/on_sweetly/three-yummy-donuts-with-room-for-text-picjumbo-com_Easy-Resize.com.jpg);
  background-position: 0% 45%;
}

.sweet-category h3, .sweet-recipes_title h3 {
  left: 7%;
}

.smoothie-category, .smoothie-recipes_title {
  background-image: url(/img/smoothie/fresh-strawberries-bananas-smoothie-picjumbo-com_Easy-Resize.com.jpg);
  background-position: 0% 15%;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.smoothie-category h3, .smoothie-recipes_title h3 {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  right: 62%;
}

@media (min-width: 400px) {
  div[class$="category"] a h3 {
    font-size: 7vw;
  }
}

@media (min-width: 480px) {
  .main-header h2 {
    font-size: 13.7vw;
  }
  div[class$="category"] a h3 {
    font-size: 6vw;
  }
}

@media (min-width: 600px) {
  .main-header h2 {
    font-size: 12.2vw;
  }
  div[class$="category"] a h3 {
    font-size: 5.2vw;
  }
}

@media (min-width: 768px) {
  .main-page {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 30vw 1fr;
    grid-template-rows: 12.5vh 1fr;
    grid-gap: 0px;
    grid-template-areas: "header header" "menu main";
  }
  .main-header {
    border: 1px solid rgba(71, 70, 70, 0.805);
    grid-area: header;
  }
  .main-header h2 {
    font-size: 8vw;
  }
  .main-page_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-area: menu;
  }
  .main-page_menu .snack-category, .main-page_menu .snack-recipes_title {
    opacity: 0.6;
  }
  .main-page_menu .snack-category h3, .main-page_menu .snack-recipes_title h3 {
    left: 54%;
  }
  .main-page_menu .salad-category, .main-page_menu .salad-recipes_title {
    opacity: 0.6;
  }
  .main-page_menu .salad-category h3, .main-page_menu .salad-recipes_title h3 {
    right: 7%;
  }
  .main-page_menu .meat-category, .main-page_menu .meat-recipes_title {
    opacity: 0.6;
  }
  .main-page_menu .meat-category h3, .main-page_menu .meat-recipes_title h3 {
    left: 43.5%;
  }
  .main-page_menu .vege-category, .main-page_menu .vege-recipes_title {
    opacity: 0.6;
  }
  .main-page_menu .vege-category h3, .main-page_menu .vege-recipes_title h3 {
    left: 5%;
  }
  .main-page_menu .soup-category, .main-page_menu .soup-recipes_title {
    opacity: 0.6;
  }
  .main-page_menu .soup-category h3, .main-page_menu .soup-recipes_title h3 {
    left: 69%;
  }
  .main-page_menu .sweet-category, .main-page_menu .sweet-recipes_title {
    opacity: 0.6;
  }
  .main-page_menu .sweet-category h3, .main-page_menu .sweet-recipes_title h3 {
    left: 5%;
  }
  .main-page_menu .smoothie-category, .main-page_menu .smoothie-recipes_title {
    opacity: 0.6;
  }
  .main-page_menu .smoothie-category h3, .main-page_menu .smoothie-recipes_title h3 {
    right: 63%;
  }
  .main-page_welcome {
    max-width: 70vw;
    height: 87.5vh;
    grid-area: main;
    background-image: url(/img/first_page/brooke-lark-wMzx2nBdeng-unsplash_Easy-Resize.com.jpg);
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-position: 50%;
  }
  .main-page_welcome p {
    max-width: 39vw;
    font-size: 3.5vw;
    color: goldenrod;
    font-family: "playball", sans-serif;
    text-align: center;
    background-color: rgba(250, 249, 245, 0.3);
    border-radius: 10px;
    padding: 5px;
  }
}

@media (min-width: 1100px) {
  .main-page {
    grid-template-columns: 25vw 1fr;
  }
  .main-header h2 {
    font-size: 6.5vw;
  }
  .main-page_menu .meat-category h3, .main-page_menu .meat-recipes_title h3 {
    left: 46%;
  }
  .main-page_welcome {
    max-width: 75vw;
  }
}

@media (min-width: 1200px) {
  .main-header h2 {
    font-size: 5.7vw;
  }
  .main-page_welcome p {
    font-size: 3vw;
  }
}

.new-recipe {
  width: 100%;
  min-height: 87.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.new-recipe-title,
.new-recipe-ingredients,
.new-recipe-preparation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1vh 4vw;
}

.new-recipe-title label,
.new-recipe-ingredients label,
.new-recipe-preparation label {
  padding: 0 3px;
  margin-top: 1vh;
  font-size: 7vw;
  font-family: "playball", sans-serif;
  background-color: rgba(250, 249, 245, 0.5);
}

.new-recipe-title input {
  height: 7vh;
  padding: 0 3px;
  font-size: 9vw;
  font-family: "playball", sans-serif;
  text-align: center;
  outline-style: none;
}

.new-recipe-title input:focus {
  border: 1px solid rgba(0, 0, 0, 0.256);
  -webkit-box-shadow: rgba(0, 0, 0, 0.605) -1px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.605) -1px 1px 4px;
}

.new-recipe-ingredients textarea,
.new-recipe-preparation textarea {
  padding: 1px 3px;
  font-size: 4.8vw;
  font-family: "hind", sans-serif;
  font-weight: 500;
  line-height: 1.3;
  outline-style: none;
}

.new-recipe-ingredients textarea::-webkit-scrollbar-track,
.new-recipe-preparation textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.156);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.156);
  background-color: #F5F5F5;
}

.new-recipe-ingredients textarea::-webkit-scrollbar,
.new-recipe-preparation textarea::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
  outline-style: none;
}

.new-recipe-ingredients textarea::-webkit-scrollbar-thumb,
.new-recipe-preparation textarea::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.156);
}

.new-recipe-ingredients textarea:focus,
.new-recipe-preparation textarea:focus {
  border: 1px solid rgba(0, 0, 0, 0.256);
  -webkit-box-shadow: rgba(0, 0, 0, 0.605) -1px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.605) -1px 1px 4px;
}

.save-recipe-btn {
  width: 100%;
  height: 9vh;
  margin-top: auto;
}

.save-recipe-btn button {
  width: 100%;
  height: 100%;
  color: rgba(250, 249, 245, 0.976);
  text-shadow: rgba(0, 0, 0, 0.705) 1.2px 1.3px 2px;
  font-size: 7vw;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.356);
  -webkit-box-shadow: rgba(0, 0, 0, 0.705) 1px -1px 4px;
          box-shadow: rgba(0, 0, 0, 0.705) 1px -1px 4px;
  border: none;
}

.back-to-recipes-btn {
  width: 100%;
  height: 6vh;
}

.back-to-recipes-btn a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
  font-size: 6.5vw;
  font-weight: bold;
  background-color: rgba(250, 249, 245, 0.5);
  -webkit-box-shadow: rgba(250, 249, 245, 0.5) 1px -1px 2px;
          box-shadow: rgba(250, 249, 245, 0.5) 1px -1px 2px;
}

@media (min-width: 360px) {
  .new-recipe-title label,
  .new-recipe-ingredients label,
  .new-recipe-preparation label {
    font-size: 6.2vw;
  }
  .new-recipe-title input {
    font-size: 8vw;
  }
  .new-recipe-ingredients textarea,
  .new-recipe-preparation textarea {
    font-size: 4.3vw;
  }
  .save-recipe-btn {
    height: 7.7vh;
  }
  .save-recipe-btn button {
    font-size: 6.7vw;
  }
  .back-to-recipes-btn {
    height: 5.3vh;
  }
  .back-to-recipes-btn a {
    font-size: 6vw;
  }
}

@media (min-width: 430px) {
  .new-recipe-title label,
  .new-recipe-ingredients label,
  .new-recipe-preparation label {
    font-size: 5.3vw;
  }
  .new-recipe-title input {
    font-size: 6.5vw;
  }
  .new-recipe-ingredients textarea,
  .new-recipe-preparation textarea {
    font-size: 3.5vw;
  }
  .save-recipe-btn button {
    font-size: 6.3vw;
  }
  .back-to-recipes-btn a {
    font-size: 5.4vw;
  }
}

@media (min-width: 480px) {
  .new-recipe-title,
  .new-recipe-ingredients,
  .new-recipe-preparation {
    margin: 1vh 7vw;
  }
  .new-recipe-title label,
  .new-recipe-ingredients label,
  .new-recipe-preparation label {
    font-size: 4.5vw;
  }
  .new-recipe-title input {
    font-size: 5.5vw;
  }
  .new-recipe-ingredients textarea,
  .new-recipe-preparation textarea {
    font-size: 3vw;
  }
  .save-recipe-btn button {
    font-size: 5vw;
  }
  .back-to-recipes-btn a {
    font-size: 4.5vw;
  }
}

@media (min-width: 600px) {
  .new-recipe-title,
  .new-recipe-ingredients,
  .new-recipe-preparation {
    margin: 1vh 7vw;
  }
  .new-recipe-title label,
  .new-recipe-ingredients label,
  .new-recipe-preparation label {
    font-size: 3.6vw;
  }
  .new-recipe-title input {
    font-size: 4.4vw;
  }
  .new-recipe-ingredients textarea,
  .new-recipe-preparation textarea {
    font-size: 2.5vw;
  }
  .save-recipe-btn button {
    font-size: 4.5vw;
  }
  .back-to-recipes-btn a {
    font-size: 3.7vw;
  }
}

@media (min-width: 768px) {
  .new-recipe {
    grid-area: main;
  }
  .new-recipe-title,
  .new-recipe-ingredients,
  .new-recipe-preparation {
    margin: 1vh 7vw;
  }
  .new-recipe-title label,
  .new-recipe-ingredients label,
  .new-recipe-preparation label {
    font-size: 2.5vw;
  }
  .new-recipe-title input {
    font-size: 3.5vw;
  }
  .new-recipe-ingredients textarea,
  .new-recipe-preparation textarea {
    font-size: 1.7vw;
  }
  .save-recipe-btn {
    max-width: 70vw;
    height: 7vh;
  }
  .save-recipe-btn button {
    font-size: 3.2vw;
  }
  .save-recipe-btn button:hover {
    font-size: 3.4vw;
  }
  .back-to-recipes-btn a {
    font-size: 2.7vw;
  }
  .back-to-recipes-btn a:hover {
    font-size: 2.9vw;
  }
}

@media (min-width: 1100px) {
  .new-recipe {
    max-width: 75vw;
    background-position: 0% 18%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .new-recipe-title,
  .new-recipe-ingredients,
  .new-recipe-preparation {
    width: 66vw;
    margin: 2vh auto;
  }
  .new-recipe-title label,
  .new-recipe-ingredients label,
  .new-recipe-preparation label {
    width: 66vw;
    font-size: 2vw;
    border-radius: 10px;
  }
  .new-recipe-title input {
    width: 66vw;
    font-size: 2.7vw;
    border-radius: 10px;
    outline-style: none;
  }
  .new-recipe-ingredients textarea,
  .new-recipe-preparation textarea {
    width: 66vw;
    font-size: 1.4vw;
    border-radius: 10px;
    outline-style: none;
  }
  .new-recipe-ingredients textarea::-webkit-scrollbar-track,
  .new-recipe-preparation textarea::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  .new-recipe-ingredients textarea::-webkit-scrollbar,
  .new-recipe-preparation textarea::-webkit-scrollbar {
    border-radius: 10px;
    outline-style: none;
  }
  .new-recipe-ingredients textarea::-webkit-scrollbar-thumb,
  .new-recipe-preparation textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
  .save-recipe-btn {
    width: 66vw;
    height: 7vh;
  }
  .save-recipe-btn button {
    font-size: 2.7vw;
    border-radius: 10px;
  }
  .save-recipe-btn button:hover {
    font-size: 2.9vw;
  }
  .back-to-recipes-btn {
    width: 66vw;
  }
  .back-to-recipes-btn a {
    font-size: 2.3vw;
    border-radius: 10px;
  }
  .back-to-recipes-btn a:hover {
    font-size: 2.5vw;
  }
}

@media (min-width: 1200px) {
  .new-recipe-title label,
  .new-recipe-ingredients label,
  .new-recipe-preparation label {
    font-size: 1.7vw;
  }
  .new-recipe-title input {
    font-size: 2.3vw;
  }
  .new-recipe-ingredients textarea,
  .new-recipe-preparation textarea {
    font-size: 1.2vw;
  }
  .save-recipe-btn button {
    font-size: 2.2vw;
  }
  .save-recipe-btn button:hover {
    font-size: 2.4vw;
  }
  .back-to-recipes-btn {
    width: 66vw;
  }
  .back-to-recipes-btn a {
    font-size: 1.9vw;
  }
  .back-to-recipes-btn a:hover {
    font-size: 2.1vw;
  }
}

.category-name, .snack-recipes_title, .sweet-recipes_title, .salad-recipes_title, .meat-recipes_title, .vege-recipes_title, .soup-recipes_title, .smoothie-recipes_title {
  width: 100%;
  height: 12.5vh;
  border: 1px solid rgba(0, 0, 0, 0.656);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.category-name h3, .snack-recipes_title h3, .sweet-recipes_title h3, .salad-recipes_title h3, .meat-recipes_title h3, .vege-recipes_title h3, .soup-recipes_title h3, .smoothie-recipes_title h3 {
  font-size: 8.5vw;
  color: rgba(0, 0, 0, 0.897);
  text-shadow: rgba(250, 249, 245, 0.976) 1.2px 1.3px 2px;
  position: absolute;
}

.snack-recipes_list, .sweet-recipes_list, .salad-recipes_list, .meat-recipes_list, .vege-recipes_list, .soup-recipes_list, .smoothie-recipes_list {
  width: 100%;
  min-height: 87.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: cover;
}

.snack-recipes_list li, .sweet-recipes_list li, .salad-recipes_list li, .meat-recipes_list li, .vege-recipes_list li, .soup-recipes_list li, .smoothie-recipes_list li {
  width: 100%;
  min-height: 8.5vh;
  padding: 3px;
  border: 1px solid rgba(0, 0, 0, 0.256);
  background-color: rgba(250, 249, 245, 0.7);
  list-style: none;
  text-align: center;
}

.snack-recipes_list li a, .sweet-recipes_list li a, .salad-recipes_list li a, .meat-recipes_list li a, .vege-recipes_list li a, .soup-recipes_list li a, .smoothie-recipes_list li a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 7vw;
  font-family: "playball", sans-serif;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.snack-recipes_list {
  background-image: url(/img/snack/top-view-photo-of-skewers-3026805_Easy-Resize.com.jpg);
  background-position: 60%;
}

.snack-recipes_list li {
  background-color: rgba(250, 249, 245, 0.7);
}

.add-recipe-btn {
  width: 100%;
  height: 9vh;
  margin-top: auto;
}

.add-recipe-btn a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: rgba(250, 249, 245, 0.976);
  text-shadow: rgba(0, 0, 0, 0.705) 1.2px 1.3px 2px;
  font-size: 7vw;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.356);
  -webkit-box-shadow: rgba(0, 0, 0, 0.705) 1px -1px 4px;
          box-shadow: rgba(0, 0, 0, 0.705) 1px -1px 4px;
}

.header {
  display: none;
}

.menu {
  display: none;
}

@media (min-width: 300px) {
  .snack-recipes_list li, .sweet-recipes_list li, .salad-recipes_list li, .meat-recipes_list li, .vege-recipes_list li, .soup-recipes_list li, .smoothie-recipes_list li {
    height: 7.5vh;
    border: 1px solid rgba(0, 0, 0, 0.156);
  }
  .snack-recipes_list li a, .sweet-recipes_list li a, .salad-recipes_list li a, .meat-recipes_list li a, .vege-recipes_list li a, .soup-recipes_list li a, .smoothie-recipes_list li a {
    font-size: 6.5vw;
  }
}

.add-recipe-btn {
  height: 7.7vh;
}

.add-recipe-btn a {
  font-size: 6.7vw;
}

@media (min-width: 400px) {
  .snack-recipes_list li a, .sweet-recipes_list li a, .salad-recipes_list li a, .meat-recipes_list li a, .vege-recipes_list li a, .soup-recipes_list li a, .smoothie-recipes_list li a {
    font-size: 6.1vw;
  }
}

.add-recipe-btn a {
  font-size: 6.3vw;
}

@media (min-width: 480px) {
  .snack-recipes_list li a, .sweet-recipes_list li a, .salad-recipes_list li a, .meat-recipes_list li a, .vege-recipes_list li a, .soup-recipes_list li a, .smoothie-recipes_list li a {
    font-size: 4.8vw;
  }
  .add-recipe-btn a {
    font-size: 5vw;
  }
}

@media (min-width: 600px) {
  .category-name h3, .snack-recipes_title h3, .sweet-recipes_title h3, .salad-recipes_title h3, .meat-recipes_title h3, .vege-recipes_title h3, .soup-recipes_title h3, .smoothie-recipes_title h3 {
    font-size: 7.7vw;
  }
  .snack-recipes_list li a, .sweet-recipes_list li a, .salad-recipes_list li a, .meat-recipes_list li a, .vege-recipes_list li a, .soup-recipes_list li a, .smoothie-recipes_list li a {
    font-size: 4.2vw;
  }
  .add-recipe-btn a {
    font-size: 4.5vw;
  }
}

@media (min-width: 768px) {
  .container {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 30vw 1fr;
    grid-template-rows: 12.5vh 1fr;
    grid-gap: 0px;
    grid-template-areas: "header header" "menu main";
  }
  .category-name, .snack-recipes_title, .sweet-recipes_title, .salad-recipes_title, .meat-recipes_title, .vege-recipes_title, .soup-recipes_title, .smoothie-recipes_title {
    display: none;
  }
  .header {
    border: 1px solid rgba(71, 70, 70, 0.805);
    background-size: cover;
    background-image: url(/img/first_page/tomato-2780424_1920_2_Easy-Resize.com.jpg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-area: header;
  }
  .header h2 {
    font-size: 8vw;
    color: #fffdfe;
    font-family: "playball", sans-serif;
  }
  div[class$="category"] {
    border: 1px solid rgba(71, 70, 70, 0.805);
    min-height: 12.5vh;
    width: 30vw;
    padding: auto;
    border-top: 1px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  div[class$="category"] a h3 {
    font-size: 2.7vw;
  }
  div:hover[class$="category"] {
    opacity: 1;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-area: menu;
  }
  .menu .snack-category, .menu .snack-recipes_title {
    opacity: 0.6;
  }
  .menu .snack-category h3, .menu .snack-recipes_title h3 {
    left: 54%;
  }
  .menu .salad-category, .menu .salad-recipes_title {
    opacity: 0.6;
  }
  .menu .salad-category h3, .menu .salad-recipes_title h3 {
    right: 7%;
  }
  .menu .meat-category, .menu .meat-recipes_title {
    opacity: 0.6;
  }
  .menu .meat-category h3, .menu .meat-recipes_title h3 {
    left: 43.5%;
  }
  .menu .vege-category, .menu .vege-recipes_title {
    opacity: 0.6;
  }
  .menu .vege-category h3, .menu .vege-recipes_title h3 {
    left: 5%;
  }
  .menu .soup-category, .menu .soup-recipes_title {
    opacity: 0.6;
  }
  .menu .soup-category h3, .menu .soup-recipes_title h3 {
    left: 69%;
  }
  .menu .sweet-category, .menu .sweet-recipes_title {
    opacity: 0.6;
  }
  .menu .sweet-category h3, .menu .sweet-recipes_title h3 {
    left: 5%;
  }
  .menu .smoothie-category, .menu .smoothie-recipes_title {
    opacity: 0.6;
  }
  .menu .smoothie-category h3, .menu .smoothie-recipes_title h3 {
    right: 63%;
  }
  .snack-recipes_list, .sweet-recipes_list, .salad-recipes_list, .meat-recipes_list, .vege-recipes_list, .soup-recipes_list, .smoothie-recipes_list {
    max-width: 70vw;
    grid-area: main;
  }
  .snack-recipes_list li, .sweet-recipes_list li, .salad-recipes_list li, .meat-recipes_list li, .vege-recipes_list li, .soup-recipes_list li, .smoothie-recipes_list li {
    height: 7vh;
  }
  .snack-recipes_list li:hover, .sweet-recipes_list li:hover, .salad-recipes_list li:hover, .meat-recipes_list li:hover, .vege-recipes_list li:hover, .soup-recipes_list li:hover, .smoothie-recipes_list li:hover {
    background-color: #faf9f5;
  }
  .snack-recipes_list li a, .sweet-recipes_list li a, .salad-recipes_list li a, .meat-recipes_list li a, .vege-recipes_list li a, .soup-recipes_list li a, .smoothie-recipes_list li a {
    font-size: 3vw;
  }
  .snack-recipes_list li a:hover, .sweet-recipes_list li a:hover, .salad-recipes_list li a:hover, .meat-recipes_list li a:hover, .vege-recipes_list li a:hover, .soup-recipes_list li a:hover, .smoothie-recipes_list li a:hover {
    font-size: 3.1vw;
  }
  .add-recipe-btn {
    max-width: 70vw;
    height: 7vh;
  }
  .add-recipe-btn a {
    font-size: 3vw;
  }
  .add-recipe-btn a:hover {
    font-size: 3.3vw;
    background-color: rgba(0, 0, 0, 0.356);
    -webkit-box-shadow: rgba(0, 0, 0, 0.705) 1px -4px 4px;
            box-shadow: rgba(0, 0, 0, 0.705) 1px -4px 4px;
  }
}

@media (min-width: 1100px) {
  .container {
    grid-template-columns: 25vw 1fr;
  }
  .header h2 {
    font-size: 6.5vw;
  }
  div[class$="category"] {
    width: 25vw;
  }
  div[class$="category"] a h3 {
    font-size: 2.3vw;
  }
  .menu .meat-category h3, .menu .meat-recipes_title h3 {
    left: 46%;
  }
  .snack-recipes_list {
    background-position: 0% 18%;
  }
  .snack-recipes_list, .sweet-recipes_list, .salad-recipes_list, .meat-recipes_list, .vege-recipes_list, .soup-recipes_list, .smoothie-recipes_list {
    max-width: 75vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .snack-recipes_list li, .sweet-recipes_list li, .salad-recipes_list li, .meat-recipes_list li, .vege-recipes_list li, .soup-recipes_list li, .smoothie-recipes_list li {
    width: 66vw;
    height: 6.9vh;
    padding: 3px;
    border-radius: 10px;
  }
  .snack-recipes_list li a, .sweet-recipes_list li a, .salad-recipes_list li a, .meat-recipes_list li a, .vege-recipes_list li a, .soup-recipes_list li a, .smoothie-recipes_list li a {
    font-size: 2.3vw;
    -webkit-box-shadow: rgba(71, 70, 70, 0.605) 0px -1px 4px;
            box-shadow: rgba(71, 70, 70, 0.605) 0px -1px 4px;
    border-radius: 10px;
  }
  .snack-recipes_list li a:hover, .sweet-recipes_list li a:hover, .salad-recipes_list li a:hover, .meat-recipes_list li a:hover, .vege-recipes_list li a:hover, .soup-recipes_list li a:hover, .smoothie-recipes_list li a:hover {
    font-size: 2.5vw;
  }
  .add-recipe-btn {
    width: 66vw;
    height: 7vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .add-recipe-btn a {
    font-size: 2.5vw;
    border-radius: 10px;
  }
  .add-recipe-btn a:hover {
    font-size: 2.7vw;
  }
}

@media (min-width: 1200px) {
  .header h2 {
    font-size: 5.7vw;
  }
  div[class$="category"] a h3 {
    font-size: 2.1vw;
  }
  .add-recipe-btn a {
    font-size: 2.2vw;
  }
  .add-recipe-btn a:hover {
    font-size: 2.4vw;
  }
}

.sweet-recipes_list {
  background-image: url(/img/on_sweetly/irina-K1LdlEj0QrY-unsplash_Easy-Resize.com.jpg);
  background-position: 0% 70%;
}

.salad-recipes_list {
  background-image: url(/img/salad/hermes-rivera-OzBLe_Eg1mg-unsplash_Easy-Resize.com.jpg);
  background-position: 47%;
}

.meat-recipes_list {
  background-image: url(/img/meat_dish/cuisine-cutlery-delicious-dining-299348_Easy-Resize.com.jpg);
  background-position: 35%;
}

.vege-recipes_list {
  background-image: url(/img/vege/flat-lay-photo-of-fruits-and-vegetables-1660027_Easy-Resize.com.jpg);
}

.soup-recipes_list {
  background-image: url(/img/soup/soup-and-croutons-picjumbo-com_Easy-Resize.com.jpg);
}

.smoothie-recipes_list {
  background-image: url(/img/smoothie/orange-fruit-and-raspberries-775033_Easy-Resize.com_2.jpg);
  background-position: 0% 80%;
}

.recipe {
  min-height: 87.5vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recipe-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3.2vh 4vw;
}

.recipe-title h4 {
  font-size: 9vw;
  font-family: "playball", sans-serif;
  text-align: center;
}

.recipe-ingredients,
.recipe-preparation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1vh 4vw;
}

.recipe-ingredients h5,
.recipe-preparation h5 {
  padding: 1px;
  font-size: 6.2vw;
  font-family: "playball", sans-serif;
  padding-bottom: 1vh;
  background-color: rgba(250, 249, 245, 0.7);
}

.recipe-ingredients p,
.recipe-preparation p {
  padding: 1px 3px;
  margin-bottom: 5px;
  font-size: 5.2vw;
  font-family: "hind", sans-serif;
  color: black;
  font-weight: 500;
  line-height: 1.3;
  background-color: rgba(250, 249, 245, 0.8);
  white-space: pre-wrap;
}

.recipe-btn {
  width: 100%;
  height: 9vh;
  margin-top: auto;
}

.recipe-btn a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: rgba(250, 249, 245, 0.976);
  text-shadow: rgba(0, 0, 0, 0.705) 1.2px 1.3px 2px;
  font-size: 6.5vw;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.356);
  -webkit-box-shadow: rgba(0, 0, 0, 0.705) 1px -1px 4px;
          box-shadow: rgba(0, 0, 0, 0.705) 1px -1px 4px;
}

@media (min-width: 360px) {
  .recipe-title h4 {
    font-size: 7.8vw;
  }
  .recipe-ingredients h5,
  .recipe-preparation h5 {
    font-size: 5.5vw;
  }
  .recipe-ingredients p,
  .recipe-preparation p {
    font-size: 4.4vw;
  }
  .recipe-btn {
    height: 7.7vh;
  }
  .recipe-btn a {
    font-size: 5.7vw;
  }
}

@media (min-width: 480px) {
  .recipe-title h4 {
    font-size: 6.5vw;
  }
  .recipe-ingredients h5,
  .recipe-preparation h5 {
    font-size: 4.5vw;
  }
  .recipe-ingredients p,
  .recipe-preparation p {
    font-size: 3.2vw;
  }
  .recipe-btn a {
    font-size: 4.7vw;
  }
}

@media (min-width: 600px) {
  .recipe-title h4 {
    font-size: 5vw;
  }
  .recipe-ingredients h5,
  .recipe-preparation h5 {
    font-size: 3.8vw;
  }
  .recipe-ingredients p,
  .recipe-preparation p {
    font-size: 2.7vw;
  }
  .recipe-btn a {
    font-size: 3.7vw;
  }
}

@media (min-width: 768px) {
  .recipe {
    grid-area: main;
  }
  .recipe-title h4 {
    font-size: 3.8vw;
  }
  .recipe-ingredients h5,
  .recipe-preparation h5 {
    font-size: 2.9vw;
  }
  .recipe-ingredients p,
  .recipe-preparation p {
    font-size: 2vw;
  }
  .recipe-btn {
    display: none;
  }
}

@media (min-width: 1100px) {
  .recipe {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .recipe-title {
    width: 66vw;
  }
  .recipe-title h4 {
    font-size: 3.5vw;
  }
  .recipe-ingredients,
  .recipe-preparation {
    width: 66vw;
  }
  .recipe-ingredients h5,
  .recipe-preparation h5 {
    padding: 1px 3px;
    margin-bottom: 1vh;
    font-size: 2.3vw;
    border-radius: 10px;
  }
  .recipe-ingredients p,
  .recipe-preparation p {
    font-size: 1.8vw;
    border-radius: 10px;
  }
}

@media (min-width: 1200px) {
  .recipe-title h4 {
    font-size: 3vw;
  }
  .recipe-ingredients h5,
  .recipe-preparation h5 {
    font-size: 2vw;
  }
  .recipe-ingredients p,
  .recipe-preparation p {
    font-size: 1.3vw;
    border-radius: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
