@import url("https://fonts.googleapis.com/css?family=Clicker+Script|Playball|Stalemate&display=swap&subset=latin-ext");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.first-page {
  height: 100vh;
  width: 100vw;
  padding-top: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(/img/first_page/tomato-2780424_1920_2_Easy-Resize.com.jpg);
  background-size: cover;
  font-family: "playball", sans-serif;
}

.first-page .app-title {
  margin: 10vw;
  font-size: 21vw;
  text-align: center;
  color: #fffdfe;
}

.first-page a {
  margin: 5vh 10vw;
  padding: 3vw;
  background-color: #f31c42;
  font-size: 8vw;
  text-decoration: none;
  text-align: center;
  color: #fff;
  border-radius: 25%;
}

.main-page {
  height: 100vh;
  width: 100vw;
}

.main-header {
  width: 100vw;
  height: 12.5vh;
  border: 2px solid black;
  background-size: cover;
  background-image: url(/img/first_page/tomato-2780424_1920_2_Easy-Resize.com.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header h2 {
  font-size: 16vw;
  color: #fffdfe;
  font-family: "playball", sans-serif;
}

div[class$="category"] {
  width: 100vw;
  height: 12.5vh;
  border: 2px solid black;
  background-size: cover;
}

div[class$="category"] a {
  width: 100vw;
  height: 12.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  position: relative;
}

div[class$="category"] a h3 {
  font-size: 8vw;
  color: black;
  position: absolute;
}

.snack-category, .snack-recipes_title {
  background-image: url(/img/snack/tasting-cheese-dish-on-a-wooden-plate-picjumbo-com_Easy-Resize.com.jpg);
  background-position: 0% 30%;
}

.snack-category h3, .snack-recipes_title h3 {
  left: 55%;
}

.salad-category, .salad-recipes_title {
  background-image: url(/img/vege/louis-hansel-shotsoflouis-phEaeqe555M-unsplash_Easy-Resize.com.jpg);
  background-position: 50% 30%;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.salad-category h3, .salad-recipes_title h3 {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  right: 10%;
}

.meat-category, .meat-recipes_title {
  background-image: url(/img/meat_dish/louis-hansel-shotsoflouis-K47107aP8UU-unsplash_Easy-Resize.com.jpg);
  background-position: 40% 100%;
}

.meat-category h3, .meat-recipes_title h3 {
  left: 47%;
}

.vege-category, .vege-recipes_title {
  background-image: url(/img/vege/food-2068217_1920_Easy-Resize.com.jpg);
}

.vege-category h3, .vege-recipes_title h3 {
  left: 10%;
}

.soup-category, .soup-recipes_title {
  background-image: url(/img/soup/cayla1-w6ftFbPCs9I-unsplash_Easy-Resize.com.jpg);
  background-position: 0% 4%;
}

.soup-category h3, .soup-recipes_title h3 {
  left: 70%;
}

.sweet-category, .sweet-recipes_title {
  background-image: url(/img/on_sweetly/three-yummy-donuts-with-room-for-text-picjumbo-com_Easy-Resize.com.jpg);
  background-position: 0% 45%;
}

.sweet-category h3, .sweet-recipes_title h3 {
  left: 10%;
}

.smoothie-category {
  background-image: url(/img/smoothie/fresh-strawberries-bananas-smoothie-picjumbo-com_Easy-Resize.com.jpg);
  background-position: 0% 15%;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.smoothie-category h3 {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  right: 62%;
}

.new-recipe {
  min-height: 87.5vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recipe-title,
.recipe-ingredients,
.recipe-preparation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1vh 4vw;
}

.recipe-title label,
.recipe-ingredients label,
.recipe-preparation label {
  font-size: 7vw;
  font-family: "playball", sans-serif;
}

.recipe-title input {
  height: 7vh;
  font-size: 9vw;
  font-family: "playball", sans-serif;
  text-align: center;
}

.recipe-ingredients textarea,
.recipe-preparation textarea {
  font-size: 6vw;
  font-family: "playball", sans-serif;
}

.add-recipe-btn {
  margin-top: auto;
}

.category-name, .snack-recipes_title, .sweet-recipes_title, .salad-recipes_title, .meat-recipes_title, .vege-recipes_title, .soup-recipes_title {
  width: 100vw;
  height: 12.5vh;
  border: 2px solid black;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.category-name h3, .snack-recipes_title h3, .sweet-recipes_title h3, .salad-recipes_title h3, .meat-recipes_title h3, .vege-recipes_title h3, .soup-recipes_title h3 {
  font-size: 8vw;
  color: black;
  position: absolute;
}

.snack-recipes_list {
  width: 100vw;
  min-height: 87.5vh;
  background-image: url(/img/snack/grapes-with-cheese-1741284_Easy-Resize.com.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.snack-recipes_list li {
  width: 100vw;
  height: 10vh;
  border: 1px solid black;
}

.snack-recipes_list li a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 7vw;
  font-family: "playball", sans-serif;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-recipe-btn {
  width: 100vw;
  height: 10.5vh;
  border: 2px solid black;
  margin-top: auto;
}

.add-recipe-btn a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
  font-size: 7vw;
}

.sweet-recipes_list {
  width: 100vw;
  min-height: 87.5vh;
  background-image: url(/img/on_sweetly/irina-K1LdlEj0QrY-unsplash_Easy-Resize.com.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sweet-recipes_list li {
  width: 100vw;
  height: 10vh;
  border: 1px solid black;
}

.sweet-recipes_list li a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 7vw;
  font-family: "playball", sans-serif;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-recipe-btn {
  width: 100vw;
  height: 10.5vh;
  border: 2px solid black;
  margin-top: auto;
}

.add-recipe-btn a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
  font-size: 7vw;
}

.salad-recipes_list {
  width: 100vw;
  min-height: 87.5vh;
  background-image: url(/img/salad/ala-gvMwYzp-R2U-unsplash_Easy-Resize.com.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.salad-recipes_list li {
  width: 100vw;
  height: 10vh;
  border: 1px solid black;
}

.salad-recipes_list li a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 7vw;
  font-family: "playball", sans-serif;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-recipe-btn {
  width: 100vw;
  height: 10.5vh;
  border: 2px solid black;
  margin-top: auto;
}

.add-recipe-btn a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
  font-size: 7vw;
}

.meat-recipes_list {
  width: 100vw;
  min-height: 87.5vh;
  background-image: url(/img/meat_dish/louis-hansel-shotsoflouis-K47107aP8UU-unsplash_Easy-Resize.com_2.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.meat-recipes_list li {
  width: 100vw;
  height: 10vh;
  border: 1px solid black;
}

.meat-recipes_list li a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 7vw;
  font-family: "playball", sans-serif;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-recipe-btn {
  width: 100vw;
  height: 10.5vh;
  border: 2px solid black;
  margin-top: auto;
}

.add-recipe-btn a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
  font-size: 7vw;
}

.vege-recipes_list {
  width: 100vw;
  min-height: 87.5vh;
  background-image: url(/img/vege/nordwood-themes-Tmz8FThN_BE-unsplash_Easy-Resize.com.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.vege-recipes_list li {
  width: 100vw;
  height: 10vh;
  border: 1px solid black;
}

.vege-recipes_list li a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 7vw;
  font-family: "playball", sans-serif;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-recipe-btn {
  width: 100vw;
  height: 10.5vh;
  border: 2px solid black;
  margin-top: auto;
}

.add-recipe-btn a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
  font-size: 7vw;
}

.soup-recipes_list {
  width: 100vw;
  min-height: 87.5vh;
  background-image: url(/img/soup/soup-and-croutons-picjumbo-com_Easy-Resize.com.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.soup-recipes_list li {
  width: 100vw;
  height: 10vh;
  border: 1px solid black;
}

.soup-recipes_list li a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 7vw;
  font-family: "playball", sans-serif;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-recipe-btn {
  width: 100vw;
  height: 10.5vh;
  border: 2px solid black;
  margin-top: auto;
}

.add-recipe-btn a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
  font-size: 7vw;
}

/*# sourceMappingURL=main.css.map */
