.first-page {
  height: 100vh;
  width: 100vw;
  padding-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/img/first_page/tomato-2780424_1920_2_Easy-Resize.com.jpg);
  background-size: cover;
  background-position: center;
  font-family: $font-main;

  .app-title {
    margin: 10vw;
    font-size: 21vw;
    text-align: center;
    color: $color-title;
  }

  a {
    margin: 0 10vw;
    padding: 3vw;
    background-color: #f31c42;
    font-size: 8vw;
    text-decoration: none;
    text-align: center;
    color: #fff;
    border-radius: 25%;
  }
}

@media (min-width: 400px) {
  .first-page {
    padding-top: 4vh;
    background-size: 100% 100%;
    .app-title {
      font-size: 20vw;
    }
    a {
      font-size: 6vw;
      margin: 0vh 7vw;
    }
  }
}

@media (min-width: 515px) {
  .first-page {
    padding-top: 0;
    .app-title {
      font-size: 19vw;
    }
    a {
      font-size: 5vw;
      margin: 0vh 6vw;
      padding: 2.5vw;
    }
  }
}

@media (min-width: 600px) {
    .first-page {
      .app-title {
        font-size: 18vw;
        margin: 7vh 10vw;
      }
      a {
        font-size: 4.5vw;
        margin: 0vh 6vw;
        padding: 2.3vw;
      }
    }
  }

  @media (min-width: 768px) {
    .first-page {
      background-size: cover;
      a {
        font-size: 4vw;
        margin: 0vh 6vw;
        padding: 1.7vw;
      }
    }
  }

  @media (min-width: 992px) {
    .first-page {
      .app-title {
        font-size: 16vw;
        margin: 6vh 10vw;
      }
      a {
        font-size: 3.3vw;
        padding: 1.3vw;
        cursor: pointer;
      }
    }
  }

  @media (min-width: 1200px) {
    .first-page {
      background-size: contain;
      .app-title {
        font-size: 12.5vw;
        margin: 1vh 10vw 3vh;
      }
      a {
        font-size: 2.2vw;
        margin: 0vh 6vw;
        padding: 1vw;
      }
    }
  }