.main-page {
    height: 100vh;
    width: 100vw;
}

.main-header {
    width: 100vw;
    height: (100vh / 8);
    border: 2px solid black;
    background-size: cover;
    background-image: url(/img/first_page/tomato-2780424_1920_2_Easy-Resize.com.jpg);
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 16vw;
        color: $color-title;
        font-family: $font-main;
    }
}

%btn-category {
    width: 100vw;
    height: (100vh / 8);
    border: 2px solid black;
    background-size: cover;

    a {
        width: 100vw;
        height: (100vh / 8);
        display: flex;
        align-items: center;
        text-decoration: none;
        position: relative;

        h3 {
            font-size: 8vw;
            color: black;
            position: absolute;
        }
    }
}

div[class$="category"] {
    @extend %btn-category;
}

.snack-category {
    background-image: url(/img/snack/tasting-cheese-dish-on-a-wooden-plate-picjumbo-com_Easy-Resize.com.jpg);
    background-position: 0% 30%;

    h3 {
        left: 55%;
    }
}

.salad-category {
    background-image: url(/img/vege/louis-hansel-shotsoflouis-phEaeqe555M-unsplash_Easy-Resize.com.jpg);
    background-position: 50% 30%;
    transform: scale(-1, 1);

    h3 {
        transform: scale(-1, 1);
        right: 10%;
    }
}

.meat-category {
    background-image: url(/img/meat_dish/louis-hansel-shotsoflouis-K47107aP8UU-unsplash_Easy-Resize.com.jpg);
    background-position: 40% 100%;

    h3 {
        left: 47%;
    }
}

.vege-category {
    background-image: url(/img/vege/food-2068217_1920_Easy-Resize.com.jpg);

    h3 {
        left: 10%;
    }
}

.soup-category {
    background-image: url(/img/soup/cayla1-w6ftFbPCs9I-unsplash_Easy-Resize.com.jpg);
    background-position: 0% 4%;

    h3 {
        left: 70%;
    }
}

.sweet-category {
    background-image: url(/img/on_sweetly/three-yummy-donuts-with-room-for-text-picjumbo-com_Easy-Resize.com.jpg);
    background-position: 0% 45%;

    h3 {
        left: 10%;
    }
}

.smoothie-category {
    background-image: url(/img/smoothie/fresh-strawberries-bananas-smoothie-picjumbo-com_Easy-Resize.com.jpg); 
    background-position: 0% 15%;
    transform: scale(-1, 1);

    h3 {
        transform: scale(-1, 1);
        right: 62%;
    }
}