.category-name {
  @extend %category;
}

.new-recipe {
  width: 100%;
  min-height: 87.5vh;
  display: flex;
  flex-direction: column;
}

.new-recipe-title,
.new-recipe-ingredients,
.new-recipe-preparation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1vh 4vw;
  label {
    padding: 0 3px;
    margin-top: 1vh;
    font-size: 7vw;
    font-family: $font-main;
    background-color: rgba(250, 249, 245, 0.5);
  }
}

.new-recipe-title {
  input {
    height: 7vh;
    padding: 0 3px;
    font-size: 9vw;
    font-family: $font-main;
    text-align: center;
    outline-style: none;
    &:focus {
      border: 1px solid rgba(0, 0, 0, 0.256);
      box-shadow: rgba(0, 0, 0, 0.605) -1px 1px 4px;
    }
  }
}

.new-recipe-ingredients,
.new-recipe-preparation {
  textarea {
    padding: 1px 3px;
    font-size: 4.8vw;
    font-family: $font-text;
    font-weight: 500;
    line-height: 1.3;
    outline-style: none;
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px  rgba(0, 0, 0, 0.156);
      background-color: #F5F5F5;
    }
    &::-webkit-scrollbar {
      width: 12px;
      background-color: #F5F5F5;
      outline-style: none;
    }
    &::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color:  rgba(0, 0, 0, 0.156);
    }
    &:focus {
      border: 1px solid rgba(0, 0, 0, 0.256);
      box-shadow: rgba(0, 0, 0, 0.605) -1px 1px 4px;
    }
  }
}

.save-recipe-btn {
  width: 100%;
  height: 9vh;
  margin-top: auto;
  button {
    width: 100%;
    height: 100%;
    color: $color-main;
    text-shadow: rgba(0, 0, 0, 0.705) 1.2px 1.3px 2px;
    font-size: 7vw;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.356);
    box-shadow: rgba(0, 0, 0, 0.705) 1px -1px 4px;
    border: none;
  }
}

.back-to-recipes-btn {
  width: 100%;
  height: 6vh;
  a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 6.5vw;
    font-weight: bold;
    background-color: rgba(250, 249, 245, 0.5);
    box-shadow: rgba(250, 249, 245, 0.5) 1px -1px 2px;
  }
}

// RWD
@media (min-width: 360px) {
  .new-recipe-title,
  .new-recipe-ingredients,
  .new-recipe-preparation {
    label {
      font-size: 6.2vw;
    }
  }

  .new-recipe-title {
    input {
      font-size: 8vw;
    }
  }

  .new-recipe-ingredients,
  .new-recipe-preparation {
    textarea {
      font-size: 4.3vw;
    }
  }

  .save-recipe-btn {
    height: 7.7vh;
    button {
      font-size: 6.7vw;
    }
  }

  .back-to-recipes-btn {
    height: 5.3vh;
    a {
      font-size: 6vw;
    }
  }
}

@media (min-width: 430px) {
  .new-recipe-title,
  .new-recipe-ingredients,
  .new-recipe-preparation {
    label {
      font-size: 5.3vw;
    }
  }

  .new-recipe-title {
    input {
      font-size: 6.5vw;
    }
  }

  .new-recipe-ingredients,
  .new-recipe-preparation {
    textarea {
      font-size: 3.5vw;
    }
  }

  .save-recipe-btn {
    button {
      font-size: 6.3vw;
    }
  }

  .back-to-recipes-btn {
    a {
      font-size: 5.4vw;
    }
  }
}

@media (min-width: 480px) {
  .new-recipe-title,
  .new-recipe-ingredients,
  .new-recipe-preparation {
    margin: 1vh 7vw;
    label {
      font-size: 4.5vw;
    }
  }

  .new-recipe-title {
    input {
      font-size: 5.5vw;
    }
  }

  .new-recipe-ingredients,
  .new-recipe-preparation {
    textarea {
      font-size: 3vw;
    }
  }

  .save-recipe-btn {
    button {
      font-size: 5vw;
    }
  }

  .back-to-recipes-btn {
    a {
      font-size: 4.5vw;
    }
  }
}

@media (min-width: 600px) {
  .new-recipe-title,
  .new-recipe-ingredients,
  .new-recipe-preparation {
    margin: 1vh 7vw;
    label {
      font-size: 3.6vw;
    }
  }

  .new-recipe-title {
    input {
      font-size: 4.4vw;
    }
  }

  .new-recipe-ingredients,
  .new-recipe-preparation {
    textarea {
      font-size: 2.5vw;
    }
  }

  .save-recipe-btn {
    button {
      font-size: 4.5vw;
    }
  }

  .back-to-recipes-btn {
    a {
      font-size: 3.7vw;
    }
  }
}

@media (min-width: 768px) {
  .new-recipe {
    grid-area: main;
  }

  .new-recipe-title,
  .new-recipe-ingredients,
  .new-recipe-preparation {
    margin: 1vh 7vw;
    label {
      font-size: 2.5vw;
    }
  }

  .new-recipe-title {
    input {
      font-size: 3.5vw;
    }
  }

  .new-recipe-ingredients,
  .new-recipe-preparation {
    textarea {
      font-size: 1.7vw;
    }
  }

  .save-recipe-btn {
    max-width: 70vw;
    height: 7vh;
    button {
      font-size: 3.2vw;
      &:hover {
        font-size: 3.4vw;
      }
    }
  }

  .back-to-recipes-btn {
    a {
      font-size: 2.7vw;
      &:hover {
        font-size: 2.9vw;
      }
    }
  }
}

@media (min-width: 1100px) {
  .new-recipe {
    max-width: 75vw;
    background-position: 0% 18%;
    align-items: center;
  }
  .new-recipe-title,
  .new-recipe-ingredients,
  .new-recipe-preparation {
    width: 66vw;
    margin: 2vh auto;
    label {
      width: 66vw;
      font-size: 2vw;
      border-radius: 10px;
    }
  }

  .new-recipe-title {
    input {
      width: 66vw;
      font-size: 2.7vw;
      border-radius: 10px;
      outline-style: none;
    }
  }

  .new-recipe-ingredients,
  .new-recipe-preparation {
    textarea {
      width: 66vw;
      font-size: 1.4vw;
      border-radius: 10px;
      outline-style: none;
      &::-webkit-scrollbar-track {
        border-radius: 10px;
      }
      &::-webkit-scrollbar {
        border-radius: 10px;
        outline-style: none;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
      }
    }
  }

  .save-recipe-btn {
    width: 66vw;
    height: 7vh;
    button {
      font-size: 2.7vw;
      border-radius: 10px;
    }
  }

  .back-to-recipes-btn {
    width: 66vw;
    a {
      font-size: 2.3vw;
      border-radius: 10px;
    }
  }
}

@media (min-width: 1200px) {
  .new-recipe-title,
  .new-recipe-ingredients,
  .new-recipe-preparation {
    label {
      font-size: 1.7vw;
    }
  }

  .new-recipe-title {
    input {
      font-size: 2.3vw;
    }
  }

  .new-recipe-ingredients,
  .new-recipe-preparation {
    textarea {
      font-size: 1.2vw;
    }
  }

  .save-recipe-btn {
    button {
      font-size: 2.2vw;
      &:hover {
        font-size: 2.4vw;
      }
    }
  }

  .back-to-recipes-btn {
    width: 66vw;
    a {
      font-size: 1.9vw;
      &:hover {
        font-size: 2.1vw;
      }
    }
  }
}