%category {
  width: 100vw;
  height: (100vh / 8);
  border: 2px solid rgba(0, 0, 0, 0.756);
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;

  h3 {
    font-size: 8.5vw;
    color: rgba(0, 0, 0, 0.897);
    text-shadow: $color-main 1.2px 1.3px 2px;
    position: absolute;
  }
}

%recipes-list {
  width: 100vw;
  min-height: 87.5vh;
  display: flex;
  flex-direction: column;
  background-size: cover;

  li {
    width: 100vw;
    height: 9vh;
    border: 1px solid rgba(0, 0, 0, 0.356);
    background-color: rgba(250, 249, 245, 0.600);

    a {
      width: 100%;
      height: 100%;
      text-decoration: none;
      font-size: 7vw;
      font-family: $font-main;
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.snack-recipes_title {
  @extend %category;
  @extend .snack-category;
}

.snack-recipes_list {
  @extend %recipes-list;
  background-image: $snack-background-img;
}

.add-recipe-btn {
  width: 100vw;
  height: 9vh;
  margin-top: auto;

  a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $color-main;
    text-shadow: rgba(0, 0, 0, 0.705) 1.2px 1.3px 2px;
    font-size: 7vw;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.356);
    box-shadow: rgba(0, 0, 0, 0.705) 1px -1px 4px;
  }
}