%category {
  width: 100vw;
  height: (100vh / 8);
  border: 2px solid black;
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;

  h3 {
    font-size: 8vw;
    color: black;
    position: absolute;
  }
}

.snack-recipes_title {
  @extend %category;
  @extend .snack-category;
}

.snack-recipes_list {
  width: 100vw;
  min-height: 87.5vh;
  background-image: $snack-background-img;
  display: flex;
  flex-direction: column;

  li {
    width: 100vw;
    height: 10vh;
    border: 1px solid black;

    a {
      width: 100%;
      height: 100%;
      text-decoration: none;
      font-size: 7vw;
      font-family: $font-main;
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.add-recipe-btn {
  width: 100vw;
  height: 10.5vh;
  border: 2px solid black;
  margin-top: auto;

  a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 7vw;
  }
}