$font-main: "playball", sans-serif;
$font-text: "hind", sans-serif;
$color-title: #fffdfe;
$color-main: rgba(250, 249, 245, 0.976);
// snack
$snack-background-img: url(/img/snack/grapes-with-cheese-1741284_Easy-Resize.com.jpg);
$snack-header-img: url(/img/snack/tasting-cheese-dish-on-a-wooden-plate-picjumbo-com_Easy-Resize.com.jpg);
// salad
$salad-background-img: url(/img/salad/ala-gvMwYzp-R2U-unsplash_Easy-Resize.com.jpg);
$salad-header-img: url(/img/vege/louis-hansel-shotsoflouis-phEaeqe555M-unsplash_Easy-Resize.com.jpg);
// meat
$meat-background-img: url(/img/meat_dish/louis-hansel-shotsoflouis-K47107aP8UU-unsplash_Easy-Resize.com_2.jpg);
$meat-header-img: url(/img/meat_dish/louis-hansel-shotsoflouis-K47107aP8UU-unsplash_Easy-Resize.com.jpg);
// vege
$vege-background-img: url(/img/vege/nordwood-themes-Tmz8FThN_BE-unsplash_Easy-Resize.com.jpg);
$vege-header-img: url(/img/vege/food-2068217_1920_Easy-Resize.com.jpg);
// soup
$soup-background-img: url(/img/soup/soup-and-croutons-picjumbo-com_Easy-Resize.com.jpg);
$soup-header-img: url(/img/soup/cayla1-w6ftFbPCs9I-unsplash_Easy-Resize.com.jpg);
// sweet
$sweet-background-img:  url(/img/on_sweetly/irina-K1LdlEj0QrY-unsplash_Easy-Resize.com.jpg);
$sweet-header-img: url(/img/on_sweetly/three-yummy-donuts-with-room-for-text-picjumbo-com_Easy-Resize.com.jpg);
// smoothie
$smoothie-background-img: url(/img/smoothie/orange-fruit-and-raspberries-775033_Easy-Resize.com_2.jpg);
$smoothie-header-img: url(/img/smoothie/fresh-strawberries-bananas-smoothie-picjumbo-com_Easy-Resize.com.jpg);