* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// import fontów
@import url('https://fonts.googleapis.com/css?family=Clicker+Script|Playball|Stalemate&display=swap&subset=latin-ext');

// first page
@import "first_page.scss";
